/* Generic styles */

body {
    margin: 0;
    padding: 0;
}

.app-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.input-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.input-controls {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.input-control {
    height: 30px;
    width: 200px;
    padding: 10px;
}

input {
    width: 100%;
    margin: 0;
    padding: 0;
}

.submit-button {
    width: 100%;
    margin: 10px 0;
}

.cursor {
    height: 7px;
    width: 7px;
    position: fixed;
    z-index: 10;
    border: solid 1px black;
    border-radius: 50%;
}

.cursor {
    height: 7px;
    width: 7px;
    position: fixed;
    z-index: 10;
    border: solid 1px black;
    border-radius: 50%;
}

/* Application styles */

.board-wrapper {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#board-canvas {
    height: 600px;
    width: 600px;
    background-color: black;
}

.board-button {
    height: 30px;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
}

.message-board {
    display: flex;
    flex-flow: column;
    margin: 5px;
    position: absolute;
}

.message-list {
    height: 200px;
    margin: 5px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid black;
}

.message-item {
    margin: 2px;
    word-wrap: normal;
}

.message-user {
    font-weight: bold;
}

.message-text {
    font-style: italic;
}

.message-input {
    display: block;
    margin: 5px;
    clear: both;
}
