body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.wrapper {
    display: flex;
    margin: auto;
}

.buttons {
    display: flex;
    margin: auto;
    flex-flow: column;
}

#chalkboard {
    background-color: black;
}
